* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: -apple-system, 'Montserrat-Regular', BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

html {
  width: 100vw;
  height: 100vh;
  scroll-behavior: smooth;
}

body {
  line-height: 1.25;
  position: relative;
  font-size: 14px;
  text-size-adjust: 0.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a:active,
a:hover {
  outline: 0;
  text-decoration: none;
}

img {
  border: 0;
  max-width: 100%;
  vertical-align: middle;
}

svg:not(:root) {
  overflow: hidden;
}

ul li, a {
  list-style-type: none;
  text-decoration: none;
}